In [2]:
import pandas as pd
import numpy as np

In [3]:
neighborhoods = pd.read_csv(
    'neighborhoods.csv',
    index_col = [0, 1, 2],
    header = [0, 1]
)
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [13]:
neighborhoods

Categories                                     Culture         Services  \
Subcategories                              Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Categories
Subcategories                              Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [21]:
neighborhoods.index.get_level_values(1)

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [6]:
neighborhoods = neighborhoods.sort_index(ascending = [True, True, True])
neighborhoods

                                              Culture         Services
                                          Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [6]:
neighborhoods[[('Culture', 'Museums'), ('Services', 'Schools')]]

                                          Culture Services
                                          Museums  Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove          A-        C
      Scottstad      082 Leblanc Freeway       C-       B+
                     114 Jones Garden          D-        D
      Stevenshire    238 Andrew Rue             A       A-
AL    Clarkland      430 Douglas Mission        F       B+
...                                           ...      ...
WY    Lake Nicole    754 Weaver Turnpike       D-        D
                     933 Jennifer Burg         A+        C
      Martintown     013 Bell Mills             D       B-
      Port Jason     624 Faulkner Orchard       F       C+
      Reneeshire     717 Patel Square          B+        A

[251 rows x 2 columns]

In [24]:
neighborhoods.loc[('AK','Scottstad'), ('Services')]

                    Police Schools
Street
082 Leblanc Freeway      D      B+
114 Jones Garden         D       D

In [34]:
neighborhoods.loc[('NE', 'Shawnchester'):('NH', 'Ingramton')]

                                                  Culture         Services  \
                                              Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C


                                              Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-

In [4]:
neighborhoods.iloc[4:8, 0:3]

                                               Culture         Services
                                           Restaurants Museums   Police
State City             Street
ND    New Joshuaport   877 Walter Neck              D+      C-        B
ID    Wellsville       696 Weber Stravenue           A      B+        C
TN    Jodiburgh        285 Justin Corners            A       B       B+
DC    Lake Christopher 607 Montoya Harbors           D      B+       B-

In [10]:
neighborhoods.xs(key=('Lake Nicole','WY'), level=('City','State'))

                        Culture         Services
                    Restaurants Museums   Police Schools
Street
754 Weaver Turnpike           B      D-        B       D
933 Jennifer Burg             C      A+       A-       C

In [11]:
neighborhoods.reorder_levels(['Street','State','City'])

                                              Culture         Services
                                          Restaurants Museums   Police Schools
Street               State City
386 Rebecca Cove     AK    Rowlandchester          C-      A-       A+       C
082 Leblanc Freeway  AK    Scottstad                D      C-        D      B+
114 Jones Garden     AK    Scottstad               D-      D-        D       D
238 Andrew Rue       AK    Stevenshire             D-       A       A-      A-
430 Douglas Mission  AL    Clarkland                A       F       C+      B+
...                                               ...     ...      ...     ...
754 Weaver Turnpike  WY    Lake Nicole              B      D-        B       D
933 Jennifer Burg    WY    Lake Nicole              C      A+       A-       C
013 Bell Mills       WY    Martintown              C-       D       A-      B-
624 Faulkner Orchard WY    Port Jason              A-       F       C+      C+
717 Patel Square     WY    Reneeshire               B      B+        D       A

[251 rows x 4 columns]

In [18]:
neighborhoods.reset_index(level=['City','Street'], col_fill='Addr',col_level = 1)

                 Addr                           Culture         Services  \
                 City                Street Restaurants Museums   Police
State
AK     Rowlandchester      386 Rebecca Cove          C-      A-       A+
AK          Scottstad   082 Leblanc Freeway           D      C-        D
AK          Scottstad      114 Jones Garden          D-      D-        D
AK        Stevenshire        238 Andrew Rue          D-       A       A-
AL          Clarkland   430 Douglas Mission           A       F       C+
...               ...                   ...         ...     ...      ...
WY        Lake Nicole   754 Weaver Turnpike           B      D-        B
WY        Lake Nicole     933 Jennifer Burg           C      A+       A-
WY         Martintown        013 Bell Mills          C-       D       A-
WY         Port Jason  624 Faulkner Orchard          A-       F       C+
WY         Reneeshire      717 Patel Square           B      B+        D


      Schools
State
AK          C
AK         B+
AK          D
AK         A-
AL         B+
...       ...
WY          D
WY          C
WY         B-
WY         C+
WY          A

[251 rows x 6 columns]

In [19]:
neighborhoods = neighborhoods.reset_index()

In [20]:
neighborhoods

    State            City                Street     Culture         Services  \
                                                Restaurants Museums   Police
0      AK  Rowlandchester      386 Rebecca Cove          C-      A-       A+
1      AK       Scottstad   082 Leblanc Freeway           D      C-        D
2      AK       Scottstad      114 Jones Garden          D-      D-        D
3      AK     Stevenshire        238 Andrew Rue          D-       A       A-
4      AL       Clarkland   430 Douglas Mission           A       F       C+
..    ...             ...                   ...         ...     ...      ...
246    WY     Lake Nicole   754 Weaver Turnpike           B      D-        B
247    WY     Lake Nicole     933 Jennifer Burg           C      A+       A-
248    WY      Martintown        013 Bell Mills          C-       D       A-
249    WY      Port Jason  624 Faulkner Orchard          A-       F       C+
250    WY      Reneeshire      717 Patel Square           B      B+        D


    Schools
0         C
1        B+
2         D
3        A-
4        B+
..      ...
246       D
247       C
248      B-
249      C+
250       A

[251 rows x 7 columns]

In [22]:
neighborhoods.set_index(keys = ('Culture','Museums')).loc['D']

                   State              City               Street     Culture  \
                                                                Restaurants
(Culture, Museums)
D                     FL      Bryanchester    481 Julie Meadows          C-
D                     IA          Amyburgh     163 Heather Neck           F
D                     KS      Shawnchester      103 David Crest          B+
D                     ME      Lake Timothy   746 Jeffrey Bypass          B-
D                     ME         New Brett         272 Cain Via          A-
D                     MI        Murraystad       489 Wayne Isle           A
D                     MO       East Connie   798 Joseph Orchard           B
D                     MT           Chadton    601 Richards Road          A-
D                     NC     Stephanieport    283 Morales Locks          D+
D                     ND        Davidshire   035 Trevor Squares           C
D                     NE      South Nathan        821 Jake Fork          C+
D                     NJ  Lake Annaborough    644 Ronald Square          B+
D                     NY  Lake Christopher   811 Kathleen Trace          B+
D                     OH         Port Emma    131 Thomas Meadow           D
D                     SC         Diazmouth    385 Robin Harbors           F
D                     UT           Leeberg       943 Luna Parks          D-
D                     WI        Danielbury  389 Castillo Plains          B-
D                     WY        Martintown       013 Bell Mills          C-

                   Services
                     Police Schools
(Culture, Museums)
D                        B-      B+
D                        A+      A-
D                        A+      A-
D                        D+      B+
D                         A      D+
D                        D+      A+
D                        A+      D+
D                        D+       D
D                        D-      C+
D                         C      D+
D                        D+       A
D                        D+       D
D                        A-      A-
D                         F      D+
D                        B-      D+
D                         C      A+
D                        A-      A-
D                        A-      B-

In [28]:
investments = pd.read_csv('investments.csv')
investments

,Name,Market,Status,State,Funding Rounds
0,#waywire,News,Acquired,NY,1
1,&TV Communications,Games,Operating,CA,2
2,-R- Ranch and Mine,Tourism,Operating,TX,2
3,004 Technologies,Software,Operating,IL,1
4,1-4 All,Software,Operating,NC,1
...,...,...,...,...,...
27794,Zynga,Technology,Operating,CA,9
27795,Zyngenia,Biotechnology,Operating,MD,1
27796,ZYOMYX,Biotechnology,Operating,MO,4
27797,Zyrra,E-Commerce,Operating,MA,4
27798,[x+1],Enterprise Software,Operating,NY,4

In [25]:
investments.nunique()

Name              27763
Market              693
Status                3
State                61
Funding Rounds       16
dtype: int64

In [29]:
investments = investments.set_index(keys=['Status','Funding Rounds','State']).sort_index()
investments

                                                      Name  \
Status    Funding Rounds State
Acquired  1              AB                 Hallpass Media
                         AL                      EnteGreat
                         AL       Onward Behavioral Health
                         AL                        Proxsys
                         AZ                    Envox Group
...                                                    ...
Operating 14             CA                   CNS Response
                         TN     Covenant Surgical Partners
          15             MA                      Terascala
                         PA                       InstaMed
          18             CA      Solarflare Communications

                                             Market
Status    Funding Rounds State
Acquired  1              AB                   Games
                         AL     Enterprise Software
                         AL           Biotechnology
                         AL           Biotechnology
                         AZ        Public Relations
...                                             ...
Operating 14             CA           Biotechnology
                         TN           Biotechnology
          15             MA                Software
                         PA              Technology
          18             CA     Enterprise Software

[27799 rows x 2 columns]

In [42]:
investments.index.get_level_values('Status').unique()

Index(['Acquired', 'Closed', 'Operating'], dtype='object', name='Status')

In [56]:
inv = investments.loc['Closed','Market'].value_counts()
inv

Software           158
Curated Web        152
Biotechnology      106
Mobile              84
Games               71
                  ...
Discounts            1
Tracking             1
Architecture         1
Stock Exchanges      1
Robotics             1
Name: Market, Length: 217, dtype: int64

In [61]:
inv[inv.apply(lambda x: x>10)] #.count()

Software                158
Curated Web             152
Biotechnology           106
Mobile                   84
Games                    71
Social Media             58
Clean Technology         51
Advertising              46
E-Commerce               45
Health Care              38
Hardware + Software      36
Enterprise Software      33
Semiconductors           23
Web Hosting              21
Finance                  21
Public Relations         20
Messaging                20
Health And Wellness      18
Networking               17
Music                    16
Security                 16
Search                   15
Consulting               15
Social Network Media     11
Manufacturing            11
Education                11
Name: Market, dtype: int64

In [63]:
investments.loc[('Acquired',10)]

                   Name       Market
State
NY     Genesis Networks  Web Hosting
TX       ACTIVE Network     Software

In [66]:
investments.loc[('Closed', 8)]

                      Name               Market
State
CA               CipherMax             Security
CA      Dilithium Networks               Mobile
CA                 Moblyng                Games
CA                SolFocus     Clean Technology
CA                Solyndra        Manufacturing
FL     Extreme Enterprises  Enterprise Software
GA                MedShape          Health Care
NC     Biolex Therapeutics        Biotechnology
WA              Cozi Group    Online Scheduling

In [67]:
investments.xs(key = 'NJ', level = 'State')

                                              Name               Market
Status    Funding Rounds
Acquired  1                                  AkaRx        Biotechnology
          1                         Aptalis Pharma        Biotechnology
          1                                 Cadent             Software
          1                        Cancer Genetics  Health And Wellness
          1                              Clacendix           E-Commerce
...                                            ...                  ...
Operating 6                                Nistica          Web Hosting
          7               Cyclacel Pharmaceuticals        Biotechnology
          7                       PTC Therapeutics          Health Care
          8                 Svelte Medical Systems          Health Care
          11                                 Vidyo            Messaging

[512 rows x 2 columns]

In [72]:
investments = investments.reset_index()

In [83]:
investments.set_index(keys=['Market','Status']).sort_index().loc[('Games','Closed')]

               Funding Rounds State               Name
Market Status
Games  Closed               1    AB  Ph03nix New Media
       Closed               1    CA      C3L3B Digital
       Closed               1    CA             Dabble
       Closed               1    CA       Doppelganger
       Closed               1    CA          El Teatro
...                       ...   ...                ...
       Closed               3    TX           FameCast
       Closed               3    UT             Funium
       Closed               4    CA           Headplay
       Closed               4    WA       GridNetworks
       Closed               8    CA            Moblyng

[71 rows x 3 columns]