In [1]:
import pandas as pd
import numpy as np

In [4]:
investments = pd.read_csv('neighborhoods.csv')
investments

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-