In [1]:
import pandas as pd
import numpy as np

In [3]:
'another'.find('other')

2

In [5]:
l = [1, 2, 2]
# l.append(4)
l.insert(2, 3)
print(l)

[1, 2, 3, 2]

In [20]:
from random import shuffle

In [23]:
l = [1, 2, 3, 4]
#l.reverse()
shuffle(l)
print(l.pop(-1))
print(l)

3
[1, 4, 2]

In [28]:
l = [1, 2, 4, 2]
l.remove(2)
print(l)

[1, 4, 2]

In [35]:
print([2, 2, 4].index(2,1))

1

In [36]:
hero = 'Harry'
guide = 'Dumbldore'
enemy = "VolanDeMort"

In [45]:
my_set = {hero, guide, enemy}
print(hash(hero))
print(hash(guide))
print(hash(enemy))
print(my_set)

3503268308697088569
2919723908951061604
8039180072978468762
{'Harry', 'VolanDeMort', 'Dumbldore'}

In [54]:
calories = {'apple': 52, 'banana': 89, 'choco': 546}
for k, v in calories.items():
    print(k) if v < 500 else None

apple
banana

In [61]:
pd.DataFrame([{'a': 1, 'b': 4}, {'a': 11, 'b': 14},{'a': 21, 'b': 24}])

    a   b
0   1   4
1  11  14
2  21  24

In [67]:
pd.DataFrame({'a': [1, 11, 21], 'b': [4, 14, 24]})

    a   b
0   1   4
1  11  14
2  21  24

In [75]:
pd.DataFrame([[1, 4], [11, 14], [21, 24]], columns = ['a','b'])

    a   b
0   1   4
1  11  14
2  21  24

In [7]:
customers = [('John', 240000),
    ('Alice', 120000),
    ('Ann', 1100000),
    ('Zach', 440000)
]
whales = {x:y for x,y in customers if y> 300000}
print(whales)

{'Ann': 1100000, 'Zach': 440000}

In [8]:
print([(x,y) for x in range(3) for y in range(4)])

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [12]:
calories = {'apple': 42, 'banana': 89, 'choco': 54, 'juice': 77}
print({x: y for x, y in calories.items() if y > 50})

{'banana': 89, 'choco': 54, 'juice': 77}

In [29]:
text = '''Одна из ключевых политических интриг последних лет – вокруг
невыполнения Киевом Минских соглашений – раскрыта на этот раз окончательно .
Последнее признание в этом вопросе сделал тот, от кого выполнение договоренностей зависело в первую очередь,
а именно президент Украины. Его желание пересмотреть соглашения наконец исполнено – но только совсем иначе,
как хотелось Зеленскому
'''
w = [[x for x in line.split() if len(x) > 3] for line in text.split('\n')]
for i in range(len(w)):
    print(w[i])

['Одна', 'ключевых', 'политических', 'интриг', 'последних', 'вокруг']
['невыполнения', 'Киевом', 'Минских', 'соглашений', 'раскрыта', 'этот', 'окончательно']
['Последнее', 'признание', 'этом', 'вопросе', 'сделал', 'тот,', 'кого', 'выполнение', 'договоренностей', 'зависело', 'первую', 'очередь,']
['именно', 'президент', 'Украины.', 'желание', 'пересмотреть', 'соглашения', 'наконец', 'исполнено', 'только', 'совсем', 'иначе,']
['хотелось', 'Зеленскому']
[]