In [1]:
import pandas as pd
import numpy as np

In [3]:
'another'.find('other')

2

In [5]:
l = [1, 2, 2]
# l.append(4)
l.insert(2, 3)
print(l)

[1, 2, 3, 2]

In [20]:
from random import shuffle

In [23]:
l = [1, 2, 3, 4]
#l.reverse()
shuffle(l)
print(l.pop(-1))
print(l)

3
[1, 4, 2]

In [28]:
l = [1, 2, 4, 2]
l.remove(2)
print(l)

[1, 4, 2]

In [35]:
print([2, 2, 4].index(2,1))

1

In [36]:
hero = 'Harry'
guide = 'Dumbldore'
enemy = "VolanDeMort"

In [45]:
my_set = {hero, guide, enemy}
print(hash(hero))
print(hash(guide))
print(hash(enemy))
print(my_set)

3503268308697088569
2919723908951061604
8039180072978468762
{'Harry', 'VolanDeMort', 'Dumbldore'}

In [54]:
calories = {'apple': 52, 'banana': 89, 'choco': 546}
for k, v in calories.items():
    print(k) if v < 500 else None

apple
banana

In [61]:
pd.DataFrame([{'a': 1, 'b': 4}, {'a': 11, 'b': 14},{'a': 21, 'b': 24}])

    a   b
0   1   4
1  11  14
2  21  24

In [67]:
pd.DataFrame({'a': [1, 11, 21], 'b': [4, 14, 24]})

    a   b
0   1   4
1  11  14
2  21  24

In [75]:
pd.DataFrame([[1, 4], [11, 14], [21, 24]], columns = ['a','b'])

    a   b
0   1   4
1  11  14
2  21  24